<a href="https://colab.research.google.com/github/NirdeshSharma/gethub1/blob/master/IBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input("Enter the value of a"))
b=int(input("Enter the value of b"))
c=int(input("Enter the value of c"))
d=int (input("Enter the value of d"))
e=int(input("Enter the value of e"))
if a>b:
  if  a>c:
    if a>d:
      if a>e:
         print("a is greater")
else:
  if  b>c:
    if b>d:
      if b>e:
         print("b is greater")
  else:
    if c>d:
      if c>e:
        print("c is greater")
        
      else:
       if d>e:
        print("d is greater")
      else:
        print("e is greater")

Enter the value of a34
Enter the value of b45
Enter the value of c56
Enter the value of d45
Enter the value of e768
e is greater

In [ ]:
print ("Welcome to the blood donatiom camp")
age=int(input("Enter ur age "))
weight=int(input("Enter ur weight "))
height=int(input("Enter ur height"))
BG=(input("Enter ur BG"))
if age>19:
  if weight>55:
    if height>153:
      if BG=="O+" or BG=="AB+" or BG=="B+" or BG=="AB-" or BG=="O-": 
        print("u r eligibal")
      else:
        print("BG not match")
    else:
      print("height not match")
  else:
    print("u r under weight")
else:
  print("u r under age")

Welcome to the blood donatiom camp
Enter ur age 17
Enter ur weight 57
Enter ur height178
Enter ur BGAB+
u r under age

In [ ]:
print("Welcome to Campus Drive")
age=int(input("Enter ur age"))
clg=input("Enter ur clg")
Education=input ("Enter ur education ")
Experience=int(input("Enter ur experience   minimum 5 yr "))
if age>19:
  if clg == "RIT" or "RCE" or "QUANTUM" or "COER":
    if Education == "BTECH" or "BCA" or "MCA":
      if Experience>5:
        print("u r eligible")
      else:
        print("u have low experience")
    else:
      print("u have not education")
  else:
    print("ur clg is anable")
else:
  print("u r under age")

Welcome to Campus Drive
Enter ur age46
Enter ur clgRIT
Enter ur education BTECH
Enter ur experience   minimum 5 yr 8
u r eligible

In [ ]:
brothers = ["Ankit","Aayush","Sagar","Aakash"]

In [ ]:
brothers

['Ankit', 'Aayush', 'Sagar', 'Aakash']

In [ ]:
for name in brothers:
  print(name)

Ankit
Aayush
Sagar
Aakash

In [ ]:
for name in brothers:
  print(name,end='')

AnkitAayushSagarAakash

In [ ]:
for name in brothers:
  print(name,end=',')

Ankit,Aayush,Sagar,Aakash,

In [ ]:
numbers=list(range(0,50))

In [ ]:
range(0,6)

range(0, 6)

In [ ]:
a=range(0,6)

In [ ]:
a

range(0, 6)

In [ ]:
numbers = list(range(0,50))

In [ ]:
for num in numbers:
  print(num,end=',')

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,

In [ ]:
for num in numbers:
  if num<25:
    print("Number is less than 25",num)
  elif num==25:
    print("Number is equal to 25",num)  
  else:
    print("Number is greater than 25",num)

Number is less than 25 0
Number is less than 25 1
Number is less than 25 2
Number is less than 25 3
Number is less than 25 4
Number is less than 25 5
Number is less than 25 6
Number is less than 25 7
Number is less than 25 8
Number is less than 25 9
Number is less than 25 10
Number is less than 25 11
Number is less than 25 12
Number is less than 25 13
Number is less than 25 14
Number is less than 25 15
Number is less than 25 16
Number is less than 25 17
Number is less than 25 18
Number is less than 25 19
Number is less than 25 20
Number is less than 25 21
Number is less than 25 22
Number is less than 25 23
Number is less than 25 24
Number is equal to 25 25
Number is greater than 25 26
Number is greater than 25 27
Number is greater than 25 28
Number is greater than 25 29
Number is greater than 25 30
Number is greater than 25 31
Number is greater than 25 32
Number is greater than 25 33
Number is greater than 25 34
Number is greater than 25 35
Number is greater than 25 36
Number is greater than 25 37
Number is greater than 25 38
Number is greater than 25 39
Number is greater than 25 40
Number is greater than 25 41
Number is greater than 25 42
Number is greater than 25 43
Number is greater than 25 44
Number is greater than 25 45
Number is greater than 25 46
Number is greater than 25 47
Number is greater than 25 48
Number is greater than 25 49

In [ ]:
for num in numbers:
  if num<25:
    print("Number is less than 25",num)
    break

Number is less than 25 0

In [ ]:
new_numbers = [100,125,23,25,56,22]

In [ ]:
for num in numbers:
  if num<25:
    print("Number is less than 25",num)
    break

Number is less than 25 0

In [ ]:
for num in new_numbers:
  if num<25:
    print("Number is less than 25",num)
    break

Number is less than 25 23

In [ ]:
for num in new_numbers:
  if num<60:
    print("First class",num)
    break

First class 23

In [ ]:
for num in new_numbers:
  if num<25:
    print("Number is less than 25",num)
    continue

Number is less than 25 23
Number is less than 25 22

In [ ]:
marks = [75,88,65,55,45,32]

In [ ]:
x=[1,2,3,4,5]
for i in x:
  if i == 4:
    break
  print(i)

1
2
3

In [ ]:
x=[1,2,3,4,5]
for i in x:
  if i == 4:
    continue
  print(i)

1
2
3
5

In [ ]:
topping=['mushroom','chicken','olive','baby corn']
your_topping = []
for i in range(3):
  topping1=input('Plese tell me what is your topping;')
  if topping1 in topping:
    print('Yes we have this'+str(topping1))
    your_topping.append(topping1)
  else:
      print('Sorry we dont have that topping, please select from topping')
print('Here are your favorite toppings:'+str(your_topping))

Plese tell me what is your topping;olive
Yes we have thisolive
Plese tell me what is your topping;mushroom
Yes we have thismushroom
Plese tell me what is your topping;chicken
Yes we have thischicken
Here are your favorite toppings:['olive', 'mushroom', 'chicken']

In [ ]:
toppings=['mushroom','chicken','olive','baby corn']
your_toppings = []
for i in range(3):
  topping1=input('Plese tell me what is your topping;')
  if topping1 in toppings:
    print('Yes we have this'+str(topping1))
    your_toppings.append(topping1)
  else:
      print('Sorry we dont have that topping, please select from topping')
print('Here are your favorite toppings:'+str(your_toppings))

Plese tell me what is your topping;mushroom
Yes we have thismushroom
Plese tell me what is your topping;olive
Yes we have thisolive
Plese tell me what is your topping;baby corn
Yes we have thisbaby corn
Here are your favorite toppings:['mushroom', 'olive', 'baby corn']

In [ ]:
for i in range(2,101,2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(0,101,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
for i in range(1,101,):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
for i in range(100,0,-1):
  print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(1,101,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
num=int(input("Enter the value of n"))
if num>1:
  for i in range(2, int(num/2)+1,100):
    if (num % i)==0:
      print(num,"is not a prime number")
      break
    else:
        print("num is a prime number")

Enter the value of n 13
num is a prime number

In [ ]:
n = int(input("Enter the number of terms: "))
a = 0
b = 1
if n <= 0:
    print("Invalid input. Please enter a positive integer.")
elif n == 1:
    print("Fibonacci series up to", n, "term:")
    print(a)
else:
    print("Fibonacci series up to", n, "terms:")
    print(a, b, end=' ')
    for i in range(2, n):
        c = a + b
        print(c, end=' ')
        a = b
        b = c

Enter the number of terms: 8
Fibonacci series up to 8 terms:
0 1 1 2 3 5 8 13

In [ ]:
for i in range(100,151,2):
  print(i)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150

In [ ]:
for i in range(10,1000,10):
  print(i)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
770
780
790
800
810
820
830
840
850
860
870
880
890
900
910
920
930
940
950
960
970
980
990

In [ ]:
for i in range(10,1000,467):
  print(i)

10
477
944

In [ ]:
#WAP to print Armstrong 

n = int(input("Enter a number: "))
s = 0
t = n
while t > 0:
   digit = t % 10
   s += digit ** 3
   t //= 10
if n == s:
   print(n,"is an Armstrong number")
else:
   print(n,"is not an Armstrong number")
   Output
   Enter a number 153
153 is an Armstrong number

SyntaxError: ignored

In [ ]:
x=[1,2,3,4,5,]
y=[6,7,8,9,10]
for i in x:
  for j in y:
    print(i,j)

1 6
1 7
1 8
1 9
1 10
2 6
2 7
2 8
2 9
2 10
3 6
3 7
3 8
3 9
3 10
4 6
4 7
4 8
4 9
4 10
5 6
5 7
5 8
5 9
5 10

In [ ]:
for i in range(1, 101):
    c = 0
    for j in range(1, i+1):
        if i % j == 0:
            c += 1
    if c == 2:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
x=int(input("Write the value of x"))
y=int(input("Write the value of y"))
pow(x,y)

Write the value of x 2
Write the value of y 4

16

In [ ]:
P=int(input("Enter the amount "))
R=int(input("Enter the rate"))
N=int(input("Enter the months"))
Ans=(P*R*pow((1+R),N))/(pow(1+R),N)-1
X=round(Ans)
print(X)

Enter the amount  24
Enter the rate 45
Enter the months 24

TypeError: ignored

In [ ]:
import math
x=math.pi
print(x)

3.141592653589793

In [ ]:
cir=2*math.pi*r
print(cir)

150.79644737231007

In [ ]:
import math
x=math.sqrt(4)
print(x)

2.0

In [ ]:
import math
x=math.ceil(4.6)
print(x)

5

In [ ]:
import math
x=math.floor(4.87)
print(x)

4

In [ ]:
import math
x=math.cos(23.4)
print(x)

-0.16123796432418885

In [ ]:
def circle(radius):
  return 22/7*radius*radius

In [ ]:
circle(10)

314.2857142857143

In [ ]:
circle(-25)

1964.2857142857142

In [ ]:
circle(25.2)

1995.84

In [ ]:
def square(side):
  return side*side

In [ ]:
square(35)

1225

In [ ]:
square(23.9)

571.2099999999999

In [ ]:
def rectangle(length,breadth):
  return length*breadth

In [ ]:
rectangle(4,5)

20

In [ ]:
#calculate the profits for diff. sales=100 cost=80 qty.=50
#sales=80 cost=100 qty.=50

s=int(input("Enter the value of sales"))
c=int(input("Enter the value of cost"))
q=int(input("Enter the value of qty"))
p=(s*q)-(c*q)
if p>0:
  print("profit table")
elif p == 0:
    print("Equal")
else :
  print ("loss")

Enter the value of sales100
Enter the value of cost80
Enter the value of qty50
profit table

In [ ]:
circle = lambda x:22/7*x*x

In [ ]:
circle(10)

314.2857142857143

In [ ]:
square = lambda x:x*x

In [ ]:
square(5)

25

In [ ]:
rectangle = lambda a,b:a*b

In [ ]:
rectangle(13,4)

52

In [ ]:
profit = lambda s,q,c:(s*q)-(c-q)

In [ ]:
profit(13,24,24)

312

In [ ]:
text = "This is Python Traning for RIT students"

In [ ]:
tex = lambda x:x.lower()

In [ ]:
tex(text)

'this is python traning for rit students'

In [ ]:
tex = lambda x:x.upper()

In [ ]:
tex(text)

'THIS IS PYTHON TRANING FOR RIT STUDENTS'

In [ ]:
def myfunction (a,b):
  return(a+b),(a-b),(a*b),(a/b)
  a=int(input("Enter the value of a"))
  b=int(input("Enter the value of b"))
  print(myfunction(a,b))

In [ ]:
myfunction(23,34)

(57, -11, 782, 0.6764705882352942)

In [ ]:
def my_function():
  print("Hello from a function")

Hello from a function

In [ ]:
my_function()

Hello from a function

In [ ]:
# List
# list are ordered 
# Dublicate allowed
# Different data type allowed 
# Changeable
# List are inordered

In [ ]:
c=(1,2,5767,4,4,4,True)
print(c)

(1, 2, 5767, 4, 4, 4, True)

In [ ]:
x=[1,2,3,4,5,6,7,8]
print(x[2:5:2])

[3, 5]

In [ ]:
x=[1,2,3,4,5,6,7,8]
print(x[::2])

[1, 3, 5, 7]

In [ ]:
x=[1,2,3,4,5,6,7]
y=[8,9,10,11.76]
x.extend(y)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11.76]

In [ ]:
x1=[2,3,4,5,]
y2=5
x1.append(y2)
print(x1)

[2, 3, 4, 5, 5]

In [ ]:
x1=[2,3,4,5,]
y2="Watermelon"
x1.append(y2)
print(x1)

[2, 3, 4, 5, 'Watermelon']

In [ ]:
z1=[1,2,3,4,5,6,5]
z1.remove(5)
print(z1)

[1, 2, 3, 4, 6, 5]

In [ ]:
z2=[1,1,2,3,4,5,6,6]
z2.pop(2)
print(z2)

[1, 1, 3, 4, 5, 6, 6]

In [ ]:
z2=[1,1,2,3,4,5,6,6]
z2.pop()
print(z2)

[1, 1, 2, 3, 4, 5, 6]

In [ ]:
x=[1,2,3,4,5,6]
x.insert(4,9)
print(x)

[1, 2, 3, 4, 9, 5, 6]

In [ ]:
#insert
x=[1,2,3,4,5,6]
print(len(x))

6

In [ ]:
#ascending order 
x=[1,24,456,78,2,3,4,5,6]
x.sort()
print(x)

[1, 2, 3, 4, 5, 6, 24, 78, 456]

In [ ]:
#descending order 
x.sort(reverse=True)
print(x)

[456, 78, 24, 6, 5, 4, 3, 2, 1]

In [ ]:
# Tuple
# Tuple are orderd
# Dublicate allowed
# Different data type are allowed 
# But tuple are unchangeable
# Index $ slicing follow

In [ ]:
x=(1,2,3,4,5,6,7,8)
x.sort()
print(x)

AttributeError: ignored

In [ ]:
x=(1,2,3,4,5,6,7)
y=(8,9,10,11.76)
x.extend(y)
print(x)

AttributeError: ignored

In [ ]:
z1=(1,2,3,4,5,6,5)
z1.remove(5)
print(z1)

AttributeError: ignored

In [ ]:
# Type casting or type conversation

a=3
b=float(a)
print(type(b))

<class 'float'>

In [ ]:
a=3
b=int(234)
print(type(b))

<class 'int'>

In [ ]:
a=3
b=str("a")
print(type(b))

<class 'str'>

In [ ]:
x=(1,2,3,4,5)
y=(6,7,8,9,10)
c=x+y
print(c)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
print(list(c))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print(tuple(c))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
# set {1,2,3,4,5}

# 1. Set are unindexed
# 2. Dublicted not allowed 
# 3. Unchangable
# 4. Unordered 

# dict{}
# 1. Ordered
# 2. Dublicate not allowed
# 3. Changable



# dict   {"Brand":"Maruti"}   key & Value pair
# 1. Ordered 
# 2. Dublicate not allowed
# 3. Changeable 
# len(): to check the length the set 

s={1,2,3,4,5}
print(len(s))

# ho wto add elements in the set
# add()
s1={1,2,3,4,5}
s1.add("orange")
print(s1)

#update()
s3={1,2,3,4,5}
s4={6,7,7,8,8}
s3.update(s3)
print(s3)

#union()
s5={1,2,3,4}
s6={5,6,7,8,}
s7=s5.union(s6)
print(s7)

#the set constructor
t1=(1,2,3,4,5)
t1=set((1,2,3,4,5))
print(t1)

# access the elements from the set 
s9={1,2,3,4,5,6,7}
for i in s9:
  print(s9)

# A dictionary is an object that stores a collection of data 
# Eacg elements in the dict has two parts a key and a value.\
# We use key to locate the specific value
# More than one entery per key is not allowed

5
{1, 2, 3, 4, 5, 'orange'}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5}

In [ ]:
phonebook={"Nirdesh":"9627139345","Sonu":"8535013934","Sharma":"9358420723","Bhardwaj":"9105763934"}
print(phonebook["Sonu"])

8535013934

In [ ]:
# Adding Elements to the dictionary
phonebook["Kartik"]="324564549697"
print(phonebook)

{'Nirdesh': '9627139345', 'Sonu': '8535013934', 'Sharma': '9358420723', 'Bhardwaj': '9105763934', 'Kartik': '324564549697'}

In [ ]:
print(phonebook["Kartik"])

324564549697

In [ ]:
# Changing element of the dictionary
phonebook["Sharma"]="9876543210"
print(phonebook)

{'Nirdesh': '9627139345', 'Sonu': '8535013934', 'Sharma': '9876543210', 'Bhardwaj': '9105763934', 'Kartik': '324564549697'}

In [ ]:
# Deleting the element from the dictionary
del phonebook["Kartik"]
print(phonebook)

{'Nirdesh': '9627139345', 'Sonu': '8535013934', 'Sharma': '9876543210', 'Bhardwaj': '9105763934'}

In [ ]:
# Printing Dictionary using loop
phonebook={"Nirdesh":"9627139345","Sharma":"8535013934"}
n=len(phonebook)
print(n)
for i in phonebook:
  print(i)
  print(phonebook[i])

# Creating an empty dictionary
Dict={}
print(Dict)

2
Nirdesh
9627139345
Sharma
8535013934
{}

In [ ]:
# Creating a dictionary with integer keys
Dicts={1:"How",2:"Are",3:"you"}
print(Dicts)

{1: 'How', 2: 'Are', 3: 'you'}

In [ ]:
# Clear method deletes all the elements in the dictionary
phonebook={"Nirdesh":"9627139345","Sharma":"8535013934"}
phonebook.clear()
print(phonebook)

{}

In [ ]:
t1=(1,2,3,4,5)
t1=set((1,2,3,4,5))
print(t1)

{1, 2, 3, 4, 5}

In [ ]:
class rectangle:
  def input(self):
    self.l=int(input("Enter the value of l"))
    self.w=int(input("Enter the value of w"))
  def calculate(self):
      print(self.l*self.w)
obj=rectangle()
obj.input()
obj.calculate()

Enter the value of l12
Enter the value of w12
144

In [ ]:
# Object oriented programing with Python
#  OOPS:
# 1. Class 
# 2. Object
# 3. Inheritance  
# 4. Polymorphism
# 5. Encapsulation
# 6. Abstraction

In [ ]:
class Parent():
  def _init_(self,name,profession):
    self.name = name
    self.profession = profession
    print(self.name,self.profession)

In [ ]:
person1 = Parent()
person2 = Parent()
person3 = Parent()
person4 = Parent()
person5 = Parent()
person1._init_("Yogendra Sharma","papa g")
person2._init_("Atendra Sharma","tau g")
person3._init_("Sachin Sharma","chachu")
person4._init_("Aadesh Sharma","mama g")
person5._init_("Sagar Sharma","brother")
print(person1)
print(person2)
print(person3)
print(person4)
print(person5)

Yogendra Sharma papa g
Atendra Sharma tau g
Sachin Sharma chachu
Aadesh Sharma mama g
Sagar Sharma brother
<__main__.Parent object at 0x7f65849dee50>
<__main__.Parent object at 0x7f65849de430>
<__main__.Parent object at 0x7f65849deaf0>
<__main__.Parent object at 0x7f65849dea00>
<__main__.Parent object at 0x7f65849de3a0>

In [ ]:
class Festivals():
  def __init__(self,name,month,days,god,activity,sweets):
    self.name = name
    self.month = month
    self.days = days
    self.god = god
    self.activity = activity
    self.sweets = sweets

In [ ]:
dasara = Festivals(['mahanavami','durga puja','vijay dashmi'],
                   'october',
                   10,
                   ('ram','durga'),
                   ('worship','sing','keep dolls','dance','procession'),
                   {1:'kalakand',
                    2:'rasagulla',
                    3:'chum chum'})

In [ ]:
class product:
  def inputdata(self):
    self.product=input("Enter the product ")
    self.price=input("Enter the price")
    self.quantity=input("Enter the quantity")
    self.discount=input("Enter the discount")

  def calculation(self):
    self.discount =(self.price*self.quantity)-10/100
    self.totalbill =(self.price*self.quantity)-self.discount 
    print(self.discount)
    print(self.totalbill)

obj1=product()
obj1.inputdata()
obj1.calculation

Enter the product  43
Enter the price 999999999999
Enter the quantity 5
Enter the discount 30

In [ ]:
class A:
  def adata(self):
    print("a data call")
class B(A):
  def bdata(self):
    print("b data call")

obj=B()
obj.adata()        
obj.bdata()

a data call
b data call

In [ ]:
# Multilevel Inheritance
class A:
  def Adata(self):
    print("Method of A")
class B(A):
  def Bdata(self):
    print("Method of B")
class C(B):
  def Cdata(self):
    print("Method of C")
obj=C()
obj.Adata()
obj.Bdata()
obj.Cdata()

Method of A
Method of B
Method of C

In [ ]:
class A:
  def Adata(self):
    print("Method of A")
class B:
  def Bdata(self):
    print("Method of B")
class C(A,B):
  def Cdata(self):
    print("Method of C")
obj=C()
obj.Adata()
obj.Bdata()
obj.Cdata()

Method of A
Method of B
Method of C

In [ ]:
class A:
  def Adata(self):
    print("Method of A")
class B(A):
  def Bdata(self):
    print("Method of B")
class C(B):
  def Cdata(self):
    print("Method of C")
obj=B()
obj.Adata()
obj.Bdata()
#obj.Cdata()

Method of A
Method of B

In [ ]:
class A:
  def Adata(self):
    print("Method of A")
class B(A):
  def Bdata(self):
    print("Method of B")
class C(A):
  def Cdata(self):
    print("Method of C")
obj=C()
obj.Adata()
#obj.Bdata()
obj.Cdata()

Method of A
Method of C

In [ ]:
print(5+5)

10

In [ ]:
print("5+5")

5+5

In [ ]:
print("5"+"5")

55

In [ ]:
class A:
  def vsp(self):
    print("Hello vsp")
class B(A):
  def vsp(self):
    print("Hello python")
  def xyz(self):
    print("Tata Bye")     

Obj=B()
Obj.vsp()
Obj.xyz()

Hello python
Tata Bye

In [ ]:
# Abstraction

# Abstraction is used to hide the internal Functionality of the function from the user 
# The users only interact with the basic implementation of the function, but inner working is hidden. Users is familier with that "What function Does". But they don't know how it Does.
# Exam: Like TV remote

# Why Abstraction is 


class RBI:
  def intrest(self):
    pass
class SBI(RBI):
  def intrest(self):
    print("Self intrest rate is 3.5%")
class HDFC(RBI):
  def intrest(self):
    print("HDFC intrest rate is 5%")
obj=SBI()
obj.intrest()
obj1=HDFC()
obj1.intrest()

Self intrest rate is 3.5%
HDFC intrest rate is 5%

In [ ]:
#  ENCAPSULATION

The process of wrapping (Combined) up variable & method into a single

In [ ]:
class Super:
  def __init__(self):
    self._value1=100
    self.__value2=200
  def display(self):
    print(self._value1) 
    print(self.__value2)
class Sub(Super):
  def show(self):
    print(self._value1)
    print(self.__value2)
obj=Sub()
obj.show()

100

AttributeError: ignored

In [ ]:
# Tkinter Python GUI Library
from tkinter import* 
r=Tk()
r.geometry("500*500")
mainloop()

TclError: ignored

In [ ]:
from tkinter import* 
r=Tk()
r.geometry("500x500")
r.title("Reg from")
r.configure(bg="purple")
r.resizable(0,0)
na=Label(r,text="Name","Roll no.","Father name","Address",font="30")
na.place(x=30,y=30)
mainloop()

SyntaxError: ignored

In [ ]:
from tkinter import* 
r=Tk()
r.geometry("500x500")
r.title("Reg from")
r.configure(bg="purple")
r.resizable(0,0)
na=Label(r,text="Name",font="30")
na.place(x=30,y=30)
ag=Label(r,text="Age",font="30")
ag.place(x=30,y=100)
ag_entry=Entry(font="30")
ag_entry.place(x=160,y=100)
na_entry=Entry(font="30")
na_entry.place(x=160,y=30)
ci=Label(r,text="City",font="30")
ci.place(x=30,y=170)
ci_entry=Entry(font="30")
ci_entry.place(x=160,y=170)

button1=Button(r,text="Submit",font="60")
button1.place(x=30,y=420)
button2=Button(r,text="Submit",font="60")
button2.place(x=160,y=420)
button3=Button(r,text="Exit",font="60")
button3.place(x=250,y=420)
mainloop()

TclError: ignored

In [ ]:
from tkinter import*
from tkinter import messagebox
r=Tk()
r.geometry("500x500")
r.title("Reg from")
r.configure(bg="purple")
r.resizable(0,0)
def submit():
    name=na_entry.get()
    age=ag_entry.get()
    city=ci_entry.get()
    father=fa_entry.get()
    with open (name+".txt","w") as f:
        f.write(name+"\n")
        f.write(age+"\n")
        f.write(city+"\n")
        f.write(father+"\n")
        if name=="":
            messagebox.showerror("error",
                                "please enter ur name ")
        elif age=="":
            messagebox.showerror("error",
                                "please enter ur age")
        elif city=="":
            messagebox.showerror("error",
                                "please enter ur city")
        elif father=="":            messagebox.showerror("error",
                                "please enter ur father")
        else:
            messagebox.showinfo("Success",
                               "Registration success")
def clear():
    na_entry.delete(0,END)
    ag_entry.delete(0,END)
    ci_entry.delete(0,END)
    fa_entry.delete(0,END)

na=Label(r,text="Name",font="30")
na.place(x=30,y=30)

ag=Label(r,text="Age",font="30")
ag.place(x=30,y=100)
ag_entry=Entry(font="30")
ag_entry.place(x=160,y=100)

na_entry=Entry(font="30")
na_entry.place(x=160,y=30)

ci=Label(r,text="City",font="30")
ci.place(x=30,y=170)
ci_entry=Entry(font="30")
ci_entry.place(x=160,y=170)

fa=Label(r,text="Father Name",font="30")
fa.place(x=30,y=240)
fa_entry=Entry(font="30")
fa_entry.place(x="160",y="240")



button1=Button(r,text="Submit",font="60",fg="Yellow",command=submit)
button1.place(x=30,y=420)
button2=Button(r,text="Clear",font="60",fg="Yellow",command=clear)
button2.place(x=160,y=420)
button3=Button(r,text="Exit",font="60",fg="Yellow",command=lambda:exit())
button3.place(x=270,y=420)
mainloop()

In [ ]:
from tkinter import*
from tkinter import ttk
r=Tk()
r.geometry("500x500")
r.title("Combobox")
r.resizable(0,0)
r.configure()

def Calculate_bill():
    quantity=int(quantity_entry.get())
    price=int(price_entry.get())
    discount=int(discount_entry.get())
    Total_bill=(price*quantity)-((price*discount)/100)
    Total_bill=Label(r,text=Total_bill,font="30")
    Total_bill.place(x=190,y=190)

def Clear():
    quantity_entry.delete(0,END)
    price_entry.delete(0,END)    
    discount_entry.delete(0,END)
    
name=Label(r,text="Product Name",font="30")
name.place(x=30,y=30)
combobox=ttk.Combobox(r,font="30")
combobox["value"]="Jeans","Top","Tilak"
combobox.place(x=190,y=30)

quantity=Label(r,text="Quantity",font="30")
quantity.place(x=30,y=70)
quantity_entry=Entry(font="30")
quantity_entry.place(x=190,y=70)

price=Label(r,text="price",font="30")
price.place(x=30,y=110)
price_entry=Entry(font="30")
price_entry.place(x=190,y=110)

discount=Label(r,text="discount",font="30")
discount.place(x=30,y=150)
discount_entry=Entry(font="30")
discount_entry.place(x=190,y=150)

Total_bill=Label(r,text="Total bill",font="30")
Total_bill.place(x=30,y=190)

button1=Button(r,text="Calculate bill",font="60",command=Calculate_bill)
button1.place(x=30,y=420)

button2=Button(r,text="Clear",font="60",command=Clear)
button2.place(x=230,y=420)

mainloop()